<a href="https://colab.research.google.com/github/kareraolivier/Huza-lab-nlp-fellowship/blob/txt-file/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import regex
print("karera")

karera

In [ ]:
import time

print(time.time())

1666003848.6073093

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
import pandas as pd
import os

## this is the way to view data using panda

new_file= pd.read_csv("/content/drive/MyDrive/Huzalabs/exam result.docx.xlsx - Sheet2.csv")
new_file.head(10)


## this is the normal way to view data without library 

with open("/content/drive/MyDrive/Huzalabs/swe past pepers correction .docx.txt") as smallfile:
  file= smallfile.read()

  big_file = smallfile.readlines()

print(file)
print(big_file)

,Id,Code,Mod,Ac,Trim,Lev,Ass1,Ass2,Cat1,Cat2,CW,Ex,Tot,Grade,Chour,Conhour,GP,QP
0,1,UCU 1101,INTRODUCTION TO ICT,2017-2018,TRIMESTER 1,LEVEL 1,9,8,19.0,16,52.0,25,77.0,B,15,52.0,4,60
1,2,UCU 111,COMMUNICATION SKILLS,2017-2018,TRIMESTER 1,LEVEL 1,6,10,12.0,18,46.0,22,68.0,C,15,52.0,3,45
2,3,BMK 121,PRINCIPLES OF MARKETING,2017-2018,TRIMESTER 3,LEVEL 2,8,6,11.0,16,41.0,30,71.0,B,15,52.0,4,60
3,4,CSC 1103,PROGRAMMING IN C LANGUAGE,2017-2018,TRIMESTER 1,LEVEL 1,8,9,14.0,15,46.0,27,73.0,B,15,52.0,4,60
4,5,CSC 123,MANAGEMENT INFORMATION SYSTEM,2017-2018,TRIMESTER 2,LEVEL 1,9,8,8.0,8,33.0,27,60.0,C,15,52.0,3,45
5,6,BAC 113,INTRODUCTION TO FINANCIAL ACCOUNTING,2017-2018,TRIMESTER 3,LEVEL 2,6,7,14.0,15,42.0,23,65.0,C,15,52.0,3,45
6,7,CSC2402,COMPUTER MAINTENANCE AND REPAIR,2017-2018,TRIMESTER 4,LEVEL 2,7,8,10.0,14,39.0,28,67.0,C,15,52.0,3,45
7,8,BMM 112,PRINCIPLES OF MANAGEMENT,2017-2018,TRIMESTER 3,LEVEL 2,9,9,16.0,15,49.0,23,72.0,B,15,52.0,4,60
8,9,BEC 242,BUSINESS STATISTICS,2017-2018,TRIMESTER 2,LEVEL 1,8,9,16.0,16,49.0,29,78.0,B,15,52.0,4,60
9,10,CSC 3203,SYSTEM ANALYSIS AND DESIGN,2017 -2018,TRIMESTER 5,LEVEL 3,8,8,10.0,13,39.0,27,66.0,C,15,52.0,3,45

In [22]:
## to access github data

!git clone https://github.com/Digital-Umuganda/common_voice_dataset_rw.git

Cloning into 'common_voice_dataset_rw'...
remote: Enumerating objects: 46, done.
remote: Total 46 (delta 0), reused 0 (delta 0), pack-reused 46
Unpacking objects: 100% (46/46), done.